@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: "FonteLogo";
  src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
  color: rgb(0, 0, 0, 1);
}

div#interface {
  width: 1300px; /*delimitando a lagura da pagina*/
  background-color: #ffffff;
  margin: -20px auto 0px auto; /*centralização da interface lembrando que cima,direita,abaixo,esquerda. auto seguinifica que o navegador faça automatico o tamanho*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /*faz uma sombra ao lado da margem*/
  padding: 10px; /*faz com que o texto não fique grudado no inicio da tela*/
}

p {
  text-align: justify;
  text-indent: 50px;
}

a {
  color: #606060;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header#cabecalho img#icone {
  position: absolute; /* configuração da imagem do oculos flutuante */
  left: 1330px;
  top: 90px;
}

header#cabecalho {
  border-bottom: 1px #606060 solid; /*tamanho da linha*/
  height: 150px;
  background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}

header#cabecalho h1 {
  font-family: "FonteLogo", Helvetica, sans-serif; /*formatação da cor, tipo de letra e mormatação do google glass*/
  font-size: 30pt;
  color: #606060;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  padding: 0px;
  margin-bottom: 0px; /*comando margin-bottom é a margem da baixo*/
}

header#cabecalho h2 {
  font-family: "Titillium Web", sans-serif;
  color: 888888;
  font-size: 15pt;
  padding: 0px;
  margin-top: 0px; /*comando margin-top é a margem de cima*/
}
/* Format ação de imagens com legendas */

figure.foto-legenda {
  position: relative;
  border: 8px solid white;
  box-shadow: 1 px 1 px 4px black;
}

figure.foto-legenda img {
  width: 100%;
  height: 100%;
}

figure.foto-legenda figcaption {
  opacity: 0%;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
  opacity: 1;
}

/*Formatação do Menu */

nav#menu {
  display: block;
}

nav#menu ul {
  list-style: none;
  text-transform: uppercase; /*comando utilizado para colocar as letras do menu todas em mausculo */
  position: absolute; /*os treis comandos abaixo faz o menu fluar de forma absoluta */
  top: -20px;
  left: 650px;
}

nav#menu li {
  display: inline-block; /*comando utilizado para colocar o menu lado a lado */
  background-color: #dddddd; /*texto sublinhado */
  padding: 10px; /*espaço dentro do objeto */
  margin: 2px; /*espaço fora do objeto */
  margin: 2px;
  transition: background-color 1s;
}

nav#menu li:hover {
  /* O efeito quando passar o mouse por cima */
  background-color: #606060;
}

nav#menu h1 {
  display: none;
}

nav#menu a {
  color: #000000;
  text-decoration: none; /*definindo a cor do menu*/
}

nav#menu a:hover {
  /*muda para cor branca quando esta aplicando o efeito por cima do mouse*/
  color: #ffffff;
  text-decoration: underline; /*fica sublinha no efeito do mouse*/
}

section#corpo {
  display: block;
  width: 700px;
  float: left;
  border-right: 1px solid #606060; /*configuração da borda ao meio*/
  padding-right: 15px; /*a distancia entre as letras e alinha divisoria*/
}

article#noticia-principal h2 {
  font-size: 13pt;
  color: #606060;
  background-color: #dddddd;
  padding: 5px 0px 5px 10px;
  margin: 10px;
}

header#cabecalho-artigo h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 20pt;
  color: #606060;
  margin-bottom: 0px;
  margin-top: 0px;
}

.direita {
  text-align: right;
}

eader#cabecalho-artigo h2 {
  font-size: 13pt;
  color: #cecece;
  background-color: #ffffff;
  margin: 0px;
}

eader#cabecalho-artigo h3 {
  font-size: 12px;
  color: #606060;
}

table#tabelaspec {
  /*configuração de forda de tabela de especificaçoes*/
  border: 1px solid #606060;
  border-spacing: 0px; /*o comando border-spacing faz com as bordas fiquem juntas sem qualque espaço entre elas*/
  margin-left: auto;
  margin-left: 0px;
}

table#tabelaspec td {
  /* configuração da borda total interna*/
  border: 1px solid #606060;
  padding: 10px; /*configuração do espaço interno*/
  text-align: center;
  vertical-align: middle;
}

table#tabelaspec td.ce {
  color: #ffffff;
  background-color: #606060;
  vertical-align: top;
  font-weight: bold;
}

table#tabelaspec td.cd {
  background-color: #cecece;
}

table#tabelaspec caption {
  color: #888888;
  font-size: 13pt;
  font-weight: bolder;
}

table#tabelaspec caption span {
  display: block;
  float: right; /*float flutuar*/
  color: #000000;
  font-size: 8pt;
  margin-top: 10px;
}

aside#lateral {
  display: block;
  width: 550px;
  float: right;
  background-color: #dddddd; /*cor de fundo de "outras noticias" */
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#lateral h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 20pt;
  color: #606060;
  margin-top: 0px;
}

aside#lateral h2 {
  background-color: #606060;
  font-size: 13px;
  color: #ffffff;
  padding: 5px;
}

footer#rodape {
  clear: both;
  border-top: 1px solid #606060; /*borda do rodape*/
}

footer#rodape p {
  text-align: center;
}
